body {
  margin: 0;
}

.class-logo {
    width: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.topnavx {
  width: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #A8A48B;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 3px;
}


/* Garde les trois barres blanches même au survol ou au clic */
.fa,
.fa-bars {
  color: #A8A48B !important;
}
.topnav a.icon:hover .fa,
.topnav a.icon:active .fa {
  color: #A8A48B !important;
}

.topnav a:hover {
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.gow-logo {
  width: 284px
}

.container {
    color: #A8A48B;
    background-color: black;
    padding: 60px 40px 40px 40px;
    text-align: center;
}

.container h1 {
    color: #570402;;
}

.Button {
    background-color: #160404;
    color: #570402;
    border: 1px solid #68110F;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.Button:hover {
    background: linear-gradient(180deg, black 60%, #6E2424 85%, #F88E8E 100%);
    color: #EB2621;
}

.container img {
    width: 100%;
}

.container .kratos-sitting {
    margin-top: 40px;
}





